comment_list_response.ejs<form method="POST" action="/annoucement/view/<%=annoucement.annouce_id%>/newcomment" role="form" id="commentresponse" class="form-horizontal">


<% for(var i = 0; i < comments.length; i++) { %>
	<div class="media">
	  <div class="col-sm-2 media-left media-middle">
	    <%=comments[i].creation_date%>
	  </div>
	  
	  <div class="col-sm-4 comment-item">
	    <h4 class="media-heading">
	      <%= comments[i].userid %>
	    </h4>
	    <br>
	   
	    <%= comments[i].comment_text %>
	   
	   <% if(comments[i].comment_response != '--'){ %>
	   <hr>
	   <h4>Resposta do vendedor:</h4>
	   
	   		<p> <%=comments[i].comment_response %> </p>
	   <% } %>

	   
	  </div>

	
	 


	  <% if(user.username == user_owner.username && comments[i].userid != user.username){ %>



	  	
		  
		  <div class="form-group">
		    <div class="col-sm-3">
		    	<textarea name="responseText_" class="form-control" id="responseText_"+<%comments[i].id %> cols="10" rows="3"></textarea>
<% console.log(">>>>>>>>><<<<<<<<<<>>>>name=responseText_+comments[i].id >>>>>><>>>: "+ "responseText_"+comments[i].id ); %>

		    </div>

		  	<div class="col-sm-1">
		    	<button type="submit" name="typeComment_response" value=<%= comments[i].id %> class="btn btn-success" form="commentresponse"><img class="icon-image" src="/images/response_icon.png" alt="">&nbsp Responder</button>
		  	</div>
		  </div>

	  <% } %>

	</div>


<% } %>


</form>



