<% include ./layout/top %>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

        <% include layout/left_menu %>

            <div class="col-md-9">





                <div class="homepage_img_section">
                <img class="homepage_image" src="/images/homepage.jpg" alt="">



                </div>








                <h3>Últimos Anúncios</h3>

                    <% annoucements.forEach(function(annouce) { %>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://lorempixel.com/1100/350/abstract/">
                            <div class="caption">
                                
                                <h4><a href="/annoucement/view/<%=annouce.annouce_id%>"><strong><%= annouce.title %></strong></a></h4>
                                
                                <p><%= annouce.description %></p>

                                <div class="ratings">
                                    <p class="pull-right"><%= annouce.price %></p>
                                </div>
                                
                                <br>
                                <p><img class="icon-image" src="/images/vendedor.png" style="width:20px; height:20px;" alt="">&nbsp <%= annouce.owner %></p>
                            </div>

                        </div>
                    </div>
                     <% }) %>



                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->


<% include layout/bottom %>
